<h1>Stupid Coaching</h1>

<div class="div-text">
  <%= @form %>
  <p>- You</p>
</div>

<div class="div-text">
  <%= @answer %>
  <p>- Your Coach</p>
</div>

<div class="btn-other">
<%= link_to "Ask a new question", ask_path %>
</div>
